<h1>RailsBridgeCorp Open Jobs</h1>


<table id="jobs">
	<thead>
		<tr>
			<th>Title</th>
			<th>Description</th>
			<th>Location</th>
		</tr>
	</thead>
	<tbody>
		<% @jobs.each do |job| %>
		<tr>
			<td><%= link_to job.title, job_path(job) %></td>
			<td><%= job.description %></td>
			<td><%= job.location %></td>
		</tr>
		<% end %>
	</tbody>
</table>
