<h1>Add a job</h1>


 <% if @job.errors.any? %>

    <div class="error">

      <h3><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved</h3>

    </div>

  <% end %>


<%= render "form" %>

