<h1>Add a job</h1>


 <% if @job.errors.any? %>

    <div id="error_explanation">

      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved</h2>

    </div>

  <% end %>


<%= render "form" %>

