// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.error {
	color: red;
}

th, td {
	padding: 0.5em;
}

thead {
	background: #eee;
}